# Security
.env

# Java / Maven
server/target/
server/.mvn/
server/mvnw
server/mvnw.cmd
*.class

# Node / React
client/node_modules/
client/dist/
client/.eslintcache

# Miscellaneous
.DS_Store
.vscode/

# THE MOST IMPORTANT LINE (Updated with 'server/')
server/src/main/resources/application.properties